## 파이썬 기본 코드작성
* python base 문법 
* ctrl + enter : 해당 셀만 실행 
* shift + enter : 해당 셀을 실행하고 , 커서를 아래로 이동, 하위 셀이 없으면 추가
* alt + enter : 해당 셀을 실행하고, 무조건 하위 셀을 추가

In [2]:
my_list = [10,20,30]
my_list

[10, 20, 30]

In [3]:
fruits = ['apple','banana','cherry','kiwi','mango']
#과일이름에 a가 포함된 과일 리스트 만들기
a_list = []
for fruit in fruits:
    if "a" in fruit:
        a_list.append(fruit)

print(a_list)

['apple', 'banana', 'mango']

In [4]:
#newlist = [expression for item in iterable if condition == True]
a_list2 = [fruit for fruit in fruits if "a" in fruit]
print(a_list2)

['apple', 'banana', 'mango']

In [5]:
#default parameter value
def mimus(a,b=10):
    return a - b

In [7]:
mimus(3)

-7

In [9]:
mimus(10,3)

7

In [12]:
#SyntaxError: non-default argument follows default argument
# def minus2(a=10,b):
#     return a - b

In [13]:
my_value = 12494949
def my_format(value):
    return f'{value:,}'

In [15]:
my_format(my_value)

'12,494,949'

In [22]:
# 람다함수, 익명함수
my_format2 = lambda val : f'{val:,}'

In [23]:
my_format2(my_value)

'12,494,949'

In [25]:
dt_list = ['정당','선거구','당선횟수']
dd_list = ['민주당','서울은평구','초선']

zip(dt_list,dd_list)

In [27]:
for data in zip(dt_list,dd_list):
    print(data)

('정당', '민주당')
('선거구', '서울은평구')
('당선횟수', '초선')

In [28]:
dict(zip(dt_list,dd_list))

{'정당': '민주당', '선거구': '서울은평구', '당선횟수': '초선'}