In [2]:
import numpy as np

In [3]:
data1 = [6,7.5,9,0,1]

In [4]:
arr1 = np.array(data1)

In [5]:
arr1

array([ 6. ,  7.5,  9. ,  0. ,  1. ])

In [6]:
len(arr1)

5

In [7]:
arr1.shape

(5,)

In [8]:
type(arr1)

numpy.ndarray

In [9]:
data2 = [[1,2,3,4],
        [5,6,7,8]]

In [10]:
arr2 = np.array(data2)

In [11]:
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [12]:
arr2.shape

(2, 4)

In [13]:
arr1.dtype

dtype('float64')

In [14]:
arr2.dtype

dtype('int32')

In [15]:
np.zeros((3,6))

array([[ 0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.]])

In [16]:
np.ones(10)

array([ 1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.])

In [17]:
#대각선의 원소가 모두 1이고, 나머지 원소는 모두 0인 정사각 행렬
np.eye(3)

array([[ 1.,  0.,  0.],
       [ 0.,  1.,  0.],
       [ 0.,  0.,  1.]])

In [18]:
np.arange(15)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [19]:
#arange(start,stop,step,dtype=None)
np.arange(2,5,0.25)

array([ 2.  ,  2.25,  2.5 ,  2.75,  3.  ,  3.25,  3.5 ,  3.75,  4.  ,
        4.25,  4.5 ,  4.75])

In [20]:
arr = np.array([1,2,3,4,5],dtype=np.int64)

In [21]:
arr

array([1, 2, 3, 4, 5], dtype=int64)

In [22]:
arr.dtype

dtype('int64')

In [23]:
float_arr = arr.astype(np.float64)

In [24]:
float_arr

array([ 1.,  2.,  3.,  4.,  5.])

In [25]:
float_arr.dtype

dtype('float64')

In [26]:
arr1 = np.array([[1,2,3],[4,5,6]],dtype=np.float64)

In [27]:
arr2 = np.array([[7,8,9],[10,11,12]],dtype=np.float64)

In [28]:
arr1

array([[ 1.,  2.,  3.],
       [ 4.,  5.,  6.]])

In [29]:
arr2

array([[  7.,   8.,   9.],
       [ 10.,  11.,  12.]])

In [30]:
arr1 + arr2

array([[  8.,  10.,  12.],
       [ 14.,  16.,  18.]])

In [31]:
arr2 - arr1

array([[ 6.,  6.,  6.],
       [ 6.,  6.,  6.]])

In [32]:
arr1 * arr2

array([[  7.,  16.,  27.],
       [ 40.,  55.,  72.]])

In [33]:
arr1 / arr2

array([[ 0.14285714,  0.25      ,  0.33333333],
       [ 0.4       ,  0.45454545,  0.5       ]])

In [34]:
arr1 * 2

array([[  2.,   4.,   6.],
       [  8.,  10.,  12.]])

In [35]:
arr1 ** 0.5

array([[ 1.        ,  1.41421356,  1.73205081],
       [ 2.        ,  2.23606798,  2.44948974]])

In [36]:
1 / arr1

array([[ 1.        ,  0.5       ,  0.33333333],
       [ 0.25      ,  0.2       ,  0.16666667]])

In [37]:
arr2 = np.array([[1,2,3,4],[5,6,7,8]])

In [38]:
arr2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [39]:
arr2.sum(axis=0)

array([ 6,  8, 10, 12])

In [40]:
arr2.sum(axis=1)

array([10, 26])

In [41]:
sap = np.array(['MMM','ABT','ABBT','ACN','ACE','ATVI','ADBE','ADT'])

In [42]:
sap

array(['MMM', 'ABT', 'ABBT', 'ACN', 'ACE', 'ATVI', 'ADBE', 'ADT'],
      dtype='<U4')

In [43]:
#대상 배열의 모양을 바꾼다. reshape() 함수의 파라미터로 배열의 새차원을 정의할 수 있다.
sap2d = sap.reshape(2,4)

In [44]:
sap2d

array([['MMM', 'ABT', 'ABBT', 'ACN'],
       ['ACE', 'ATVI', 'ADBE', 'ADT']],
      dtype='<U4')

In [45]:
#2차원 배열에서는 행과 열이 뒤바뀐다.
sap2d.T

array([['MMM', 'ACE'],
       ['ABT', 'ATVI'],
       ['ABBT', 'ADBE'],
       ['ACN', 'ADT']],
      dtype='<U4')

In [46]:
sap.reshape(2,2,2)

array([[['MMM', 'ABT'],
        ['ABBT', 'ACN']],

       [['ACE', 'ATVI'],
        ['ADBE', 'ADT']]],
      dtype='<U4')

In [48]:
arr = np.arange(5)

In [49]:
arr

array([0, 1, 2, 3, 4])

In [50]:
arr.cumsum()

array([ 0,  1,  3,  6, 10], dtype=int32)