In [1]:
import pandas as pd
import numpy as np

In [4]:
import warnings
#warning message off
warnings.filterwarnings(action='ignore')

In [5]:
#오류메시지가 떠도 상관없음 
df = pd.read_csv("data/lending-club-loan-data/loan.csv", sep=",")

In [6]:
print(df.shape)
df.head()

(887379, 74)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000.0,5000.0,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500.0,2500.0,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400.0,2400.0,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000.0,10000.0,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000.0,3000.0,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
print(type(df))
print(df.shape)

<class 'pandas.core.frame.DataFrame'>
(887379, 74)

In [8]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 887379 entries, 0 to 887378
Data columns (total 74 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id                           887379 non-null  int64
 1   member_id                    887379 non-null  int64
 2   loan_amnt                    887379 non-null  float64
 3   funded_amnt                  887379 non-null  float64
 4   funded_amnt_inv              887379 non-null  float64
 5   term                         887379 non-null  object
 6   int_rate                     887379 non-null  float64
 7   installment                  887379 non-null  float64
 8   grade                        887379 non-null  object
 9   sub_grade                    887379 non-null  object
 10  emp_title                    835917 non-null  object
 11  emp_length                   842554 non-null  object
 12  home_ownership               887379 non-null  object
 13  annual_inc                   887375 non-null  float64
 14  verification_status          887379 non-null  object
 15  issue_d                      887379 non-null  object
 16  loan_status                  887379 non-null  object
 17  pymnt_plan                   887379 non-null  object
 18  url                          887379 non-null  object
 19  desc                         126028 non-null  object
 20  purpose                      887379 non-null  object
 21  title                        887227 non-null  object
 22  zip_code                     887379 non-null  object
 23  addr_state                   887379 non-null  object
 24  dti                          887379 non-null  float64
 25  delinq_2yrs                  887350 non-null  float64
 26  earliest_cr_line             887350 non-null  object
 27  inq_last_6mths               887350 non-null  float64
 28  mths_since_last_delinq       433067 non-null  float64
 29  mths_since_last_record       137053 non-null  float64
 30  open_acc                     887350 non-null  float64
 31  pub_rec                      887350 non-null  float64
 32  revol_bal                    887379 non-null  float64
 33  revol_util                   886877 non-null  float64
 34  total_acc                    887350 non-null  float64
 35  initial_list_status          887379 non-null  object
 36  out_prncp                    887379 non-null  float64
 37  out_prncp_inv                887379 non-null  float64
 38  total_pymnt                  887379 non-null  float64
 39  total_pymnt_inv              887379 non-null  float64
 40  total_rec_prncp              887379 non-null  float64
 41  total_rec_int                887379 non-null  float64
 42  total_rec_late_fee           887379 non-null  float64
 43  recoveries                   887379 non-null  float64
 44  collection_recovery_fee      887379 non-null  float64
 45  last_pymnt_d                 869720 non-null  object
 46  last_pymnt_amnt              887379 non-null  float64
 47  next_pymnt_d                 634408 non-null  object
 48  last_credit_pull_d           887326 non-null  object
 49  collections_12_mths_ex_med   887234 non-null  float64
 50  mths_since_last_major_derog  221703 non-null  float64
 51  policy_code                  887379 non-null  float64
 52  application_type             887379 non-null  object
 53  annual_inc_joint             511 non-null     float64
 54  dti_joint                    509 non-null     float64
 55  verification_status_joint    511 non-null     object
 56  acc_now_delinq               887350 non-null  float64
 57  tot_coll_amt                 817103 non-null  float64
 58  tot_cur_bal                  817103 non-null  float64
 59  open_acc_6m                  21372 non-null   float64
 60  open_il_6m                   21372 non-null   float64
 61  open_il_12m                  21372 non-null   float64
 62  open_il_24m                  21372 non-null   float64
 63  mths_since_rcnt_il           20810 non-null   float64
 64  total_bal_il                 21372 non-null   float64
 65  il_util                      18617 non-null   float64
 66  open_rv_12m                  21372 non-null   float64
 67  open_rv_24m                  21372 non-null   float64
 68  max_bal_bc                   21372 non-null   float64
 69  all_util                     21372 non-null   float64
 70  total_rev_hi_lim             817103 non-null  float64
 71  inq_fi                       21372 non-null   float64
 72  total_cu_tl                  21372 non-null   float64
 73  inq_last_12m                 21372 non-null   float64
dtypes: float64(49), int64(2), object(23)
memory usage: 501.0+ MB
None

In [10]:
#null 값인 row counting
df.isnull().sum().sort_values(ascending=False)

dti_joint                    886870
annual_inc_joint             886868
verification_status_joint    886868
il_util                      868762
mths_since_rcnt_il           866569
                              ...
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
out_prncp_inv                     0
Length: 74, dtype: int64

In [11]:
df.columns

Index(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'url', 'desc', 'purpose',
       'title', 'zip_code', 'addr_state', 'dti', 'delinq_2yrs',
       'earliest_cr_line', 'inq_last_6mths', 'mths_since_last_delinq',
       'mths_since_last_record', 'open_acc', 'pub_rec', 'revol_bal',
       'revol_util', 'total_acc', 'initial_list_status', 'out_prncp',
       'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_pymnt_d', 'last_pymnt_amnt',
       'next_pymnt_d', 'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl',
       'inq_last_12m'],
      dtype='object')

#등급 A인 대출의 합계와 평균

In [12]:
df.loc[df['grade']== 'A',"loan_amnt"].describe()

count    148202.000000
mean      14038.860306
std        7502.131394
min         500.000000
25%        8000.000000
50%       12000.000000
75%       20000.000000
max       35000.000000
Name: loan_amnt, dtype: float64

In [9]:
import timeit
start = timeit.default_timer()
df[df['grade'] == 'A']["loan_amnt"].mean()
end = timeit.default_timer()
print('1. Running Time : %.02f' % (end - start))

1. Running Time : 0.29

In [10]:
%time df[df['grade'] == 'A']["loan_amnt"].mean()

Wall time: 293 ms

14038.86030552894

In [11]:
import timeit
start = timeit.default_timer()
df.loc[df['grade']== 'A',"loan_amnt"].mean()
end = timeit.default_timer()
#print(end - start) 
print('2. Running Time : %.02f' % (end - start))

2. Running Time : 0.15

In [12]:
%time df.loc[df['grade'] == 'A',"loan_amnt"].mean()

Wall time: 122 ms

14038.86030552894

In [13]:
df.loc[df['grade'] == 'A',"loan_amnt"].sum()

2080587175.0

In [14]:
#필요한 열 발췌 및 결측값 제거하기
#대출 총액, 대출의 현재 상태,등급,대출 이자율,대출 상품의 기간
df2 = df[["loan_amnt", "loan_status", "grade", "int_rate", "term"]] 
#df2 = df2.dropna(how="any")

In [15]:
print(df2.shape)

(887379, 5)

In [16]:
#숫자 - loan_amnt, int_rate
#문자 - loan_status, grade, term
#loan_status와 term은 범주형 데이터 타입

#맨 앞의 5개의 행 가져오기

In [16]:
df2.head()

   loan_amnt  loan_status grade  int_rate        term
0     5000.0   Fully Paid     B     10.65   36 months
1     2500.0  Charged Off     C     15.27   60 months
2     2400.0   Fully Paid     C     15.96   36 months
3    10000.0   Fully Paid     C     13.49   36 months
4     3000.0      Current     B     12.69   60 months

In [18]:
#맨 뒤의 5개의 행 가져오기
df2.tail()

        loan_amnt loan_status grade  int_rate        term
887374    10000.0     Current     B     11.99   36 months
887375    24000.0     Current     B     11.99   36 months
887376    13000.0     Current     D     15.99   60 months
887377    12000.0     Current     E     19.99   60 months
887378    20000.0     Current     B     11.99   36 months

In [17]:
df2["loan_status"].unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'],
      dtype=object)

In [18]:
df2["term"].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [21]:
df2["grade"].unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [22]:
#numpy array를 Series 객체로 변환한 다음 값을 sorting 한다.
pd.Series(df2["grade"].unique()).sort_values()

2    A
0    B
1    C
5    D
3    E
4    F
6    G
dtype: object

### 1.36개월 대출, 60 개월 대출 총액

In [27]:
#1.36개월 대출, 60 개월 대출 총액  
term_by_loan_amnt_sum_dict = {}
uniq_terms = df2["term"].unique()
for term in uniq_terms:
    loan_amnt_sum = df2.loc[df2['term'] == term,"loan_amnt"].sum()
    term_by_loan_amnt_sum_dict[term] = loan_amnt_sum    

#dict 확인
term_by_loan_amnt_sum_dict

{' 36 months': 7752507375.0, ' 60 months': 5341004575.0}

In [28]:
#dict를 Series 객체로 변환
term_loan_amnt_sum_obj = pd.Series(term_by_loan_amnt_sum_dict)
term_loan_amnt_sum_obj

 36 months    7.752507e+09
 60 months    5.341005e+09
dtype: float64

### 2.각 대출 상태(불량/우량)에 따른 대출 등급 분포 파악  
* 불량 상태(loan status): 
* 1("Charged Off"), 
* 3("Default"),
* 4("Late (31-120 days)"),
* 5("In Grace Period"),
* 6("Late (16-30 days)"), 
* 8("Does not meet the credit policy. Status:Charged Off",)

In [31]:
#2.각 대출 상태(불량/우량)에 따른 대출 등급 분포 파악    
total_status_category = df2["loan_status"].unique() 
print(type(total_status_category))
total_status_category

<class 'numpy.ndarray'>

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'],
      dtype=object)

In [32]:
#* 불량 상태(loan status): 1("Charged Off"), 3("Default"),4("Late (31-120 days)"),5("In Grace Period"),6("Late (16-30 days)"), 
#8("Does not meet the credit policy. Status:Charged Off",)
bad_status_category = total_status_category[[1, 3, 4, 5, 6, 8]]
bad_status_category

array(['Charged Off', 'Default', 'Late (31-120 days)', 'In Grace Period',
       'Late (16-30 days)',
       'Does not meet the credit policy. Status:Charged Off'],
      dtype=object)

In [33]:
#새로운 컬럼 만듬 : loan_status가 bad_status_category에 속하는지를 체크해서 True/False 값을 넣음
df2["bad_loan_status"] = df2["loan_status"].isin(bad_status_category)

In [34]:
df2.head()

   loan_amnt  loan_status grade  int_rate        term  bad_loan_status
0     5000.0   Fully Paid     B     10.65   36 months            False
1     2500.0  Charged Off     C     15.27   60 months             True
2     2400.0   Fully Paid     C     15.96   36 months            False
3    10000.0   Fully Paid     C     13.49   36 months            False
4     3000.0      Current     B     12.69   60 months            False

In [35]:
#불량대출(bad_loan_status == True) 인 row와  grade(등급) 칼럼을 가져와서 value 값을 건수를 count 한다.
#bad_loan_status_to_grades = df2.loc[df2["bad_loan_status"] == True, "grade"].value_counts() 
bad_loan_status_to_grades = df2.loc[df2["bad_loan_status"], "grade"].value_counts()

In [42]:
#grade(등급)별 불량대출 건수
bad_loan_status_to_grades

C    19054
D    15859
B    13456
E     9745
F     4383
A     3663
G     1269
Name: grade, dtype: int64

In [37]:
bad_loan_status_to_grades.sort_index()

A     3663
B    13456
C    19054
D    15859
E     9745
F     4383
G     1269
Name: grade, dtype: int64

In [38]:
#loan_status(대출상태별)별 불량대출 건수
df2.loc[df2["bad_loan_status"], "loan_status"].value_counts()

Charged Off                                            45248
Late (31-120 days)                                     11591
In Grace Period                                         6253
Late (16-30 days)                                       2357
Default                                                 1219
Does not meet the credit policy. Status:Charged Off      761
Name: loan_status, dtype: int64

In [40]:
#type(df2.loc[df2["bad_loan_status"], "loan_status"])

In [41]:
#대출총액과 이자율 간의 상관관계 구하기 , 상관관계가 그리 크지는 않다. (0에 가깝기 때문에)
df2["loan_amnt"].corr(df2["int_rate"])

0.14502309929883955

In [43]:
#bad_loan_status_to_grades Series를 CSV 파일로 저장한다.
bad_loan_status_to_grades.to_csv("bad_loan_status.csv", sep=",")

In [45]:
df['purpose'].unique()

array(['credit_card', 'car', 'small_business', 'other', 'wedding',
       'debt_consolidation', 'home_improvement', 'major_purchase',
       'medical', 'moving', 'vacation', 'house', 'renewable_energy',
       'educational'], dtype=object)

In [47]:
#df2에 purpose 컬럼 추가
df2.loc[:,'purpose'] = df['purpose']

In [48]:
df2.head()

,loan_amnt,loan_status,grade,int_rate,term,bad_loan_status,purpose
0,5000.0,Fully Paid,B,10.65,36 months,False,credit_card
1,2500.0,Charged Off,C,15.27,60 months,True,car
2,2400.0,Fully Paid,C,15.96,36 months,False,small_business
3,10000.0,Fully Paid,C,13.49,36 months,False,other
4,3000.0,Current,B,12.69,60 months,False,other

In [49]:
#bad_loan_status 대출의 purpose 별 대출 건수
bad_loan_status_to_purpose = df2.loc[df2["bad_loan_status"], "purpose"].value_counts()

In [50]:
bad_loan_status_to_purpose

debt_consolidation    41608
credit_card           11755
other                  4163
home_improvement       3553
small_business         1781
major_purchase         1294
medical                 804
moving                  607
car                     596
house                   417
vacation                402
wedding                 289
educational              88
renewable_energy         72
Name: purpose, dtype: int64

In [47]:
# debt_consolidation  부채 정리

In [51]:
#bad_loan_status 가 True/False 인 건수 확인
df2['bad_loan_status'].value_counts()

False    819950
True      67429
Name: bad_loan_status, dtype: int64

### =====> 여기서부터는 groupby 를 배우고 나서  실습하는 부분이다.

In [55]:
# df2 전체는 DataFrame이므로  groupby 할때는 'term' 으로 컬럼명만 줘도 되지만,  
# df2['loan_amnt'] 컬럼을 지정하면 Series 이므로 groupby 할때는 df2['term'] 이라고  해주어야 한다. 
df2.groupby('term').sum()

               loan_amnt      int_rate  bad_loan_status
term
 36 months  7.752507e+09  7.465102e+06            42931
 60 months  5.341005e+09  4.289777e+06            24498

In [56]:
df2.groupby('term')['loan_amnt'].sum()

term
 36 months    7.752507e+09
 60 months    5.341005e+09
Name: loan_amnt, dtype: float64

In [57]:
#1.전체 loan을 term 별로 36개월 대출, 60 개월 대출 총액  
df2['loan_amnt'].groupby(df2['term']).sum()

term
 36 months    7.752507e+09
 60 months    5.341005e+09
Name: loan_amnt, dtype: float64

In [58]:
#2. 전체 loan을 grade 별로 대출금액 counting
df2['loan_amnt'].groupby(df2['grade']).count()

grade
A    148202
B    254535
C    245860
D    139542
E     70705
F     23046
G      5489
Name: loan_amnt, dtype: int64

In [59]:
#3. bad_loan을 grade 별로 counting
df2.loc[df2["bad_loan_status"],'loan_amnt'].groupby(df2['grade']).count()

grade
A     3663
B    13456
C    19054
D    15859
E     9745
F     4383
G     1269
Name: loan_amnt, dtype: int64

In [60]:
#4. bad loan을 loan_status 별로 counting 
df2.loc[df2['bad_loan_status'],'loan_amnt'].groupby(df2['loan_status']).count().sort_values(ascending=False)

loan_status
Charged Off                                            45248
Late (31-120 days)                                     11591
In Grace Period                                         6253
Late (16-30 days)                                       2357
Default                                                 1219
Does not meet the credit policy. Status:Charged Off      761
Name: loan_amnt, dtype: int64

In [61]:
#전체 loan을 loan_status 별로  counting
df2['loan_amnt'].groupby(df2['loan_status']).count().sort_values(ascending=False)

loan_status
Current                                                601779
Fully Paid                                             207723
Charged Off                                             45248
Late (31-120 days)                                      11591
Issued                                                   8460
In Grace Period                                          6253
Late (16-30 days)                                        2357
Does not meet the credit policy. Status:Fully Paid       1988
Default                                                  1219
Does not meet the credit policy. Status:Charged Off       761
Name: loan_amnt, dtype: int64

In [62]:
#bad loan 을  grade 별로  describe() 호출함 
df2.loc[df2["bad_loan_status"],"loan_amnt"].groupby(df2['grade']).describe()

,count,mean,std,min,25%,50%,75%,max
grade,,,,,,,,
A,3663.0,12586.691237,7207.895213,1000.0,7000.0,11000.0,17625.00,35000.0
B,13456.0,12828.344233,7174.250399,500.0,7600.0,11150.0,16981.25,35000.0
C,19054.0,13815.760470,7964.408374,900.0,8000.0,12000.0,18893.75,35000.0
D,15859.0,14907.604515,8618.622015,700.0,8200.0,13200.0,20000.00,35000.0
E,9745.0,17720.933812,9124.707681,800.0,10500.0,16800.0,24300.00,35000.0
F,4383.0,19321.851472,9021.487061,1000.0,12262.5,19000.0,25450.00,35000.0
G,1269.0,20592.237983,8766.607203,600.0,13475.0,20000.0,27575.00,35000.0

In [63]:
#df2 전체를  loan_status 별로 counting
df2.groupby('loan_status').count()

,loan_amnt,grade,int_rate,term,bad_loan_status,purpose
loan_status,,,,,,
Charged Off,45248,45248,45248,45248,45248,45248
Current,601779,601779,601779,601779,601779,601779
Default,1219,1219,1219,1219,1219,1219
Does not meet the credit policy. Status:Charged Off,761,761,761,761,761,761
Does not meet the credit policy. Status:Fully Paid,1988,1988,1988,1988,1988,1988
Fully Paid,207723,207723,207723,207723,207723,207723
In Grace Period,6253,6253,6253,6253,6253,6253
Issued,8460,8460,8460,8460,8460,8460
Late (16-30 days),2357,2357,2357,2357,2357,2357
Late (31-120 days),11591,11591,11591,11591,11591,11591

In [64]:
df2.groupby('bad_loan_status').count()

                 loan_amnt  loan_status   grade  int_rate    term  purpose
bad_loan_status
False               819950       819950  819950    819950  819950   819950
True                 67429        67429   67429     67429   67429    67429

In [65]:
#bad loan 인것과 아닌것으로 grouping, loan_status 별로 다시 grouping
df2.groupby(['bad_loan_status','loan_status']).count() #.sort_index().sort_values(by="loan_amnt",ascending=False)

                                                                    loan_amnt  \
bad_loan_status loan_status
False           Current                                                601779
                Does not meet the credit policy. Status:Fully Paid       1988
                Fully Paid                                             207723
                Issued                                                   8460
True            Charged Off                                             45248
                Default                                                  1219
                Does not meet the credit policy. Status:Charged...        761
                In Grace Period                                          6253
                Late (16-30 days)                                        2357
                Late (31-120 days)                                      11591

                                                                     grade  \
bad_loan_status loan_status
False           Current                                             601779
                Does not meet the credit policy. Status:Fully Paid    1988
                Fully Paid                                          207723
                Issued                                                8460
True            Charged Off                                          45248
                Default                                               1219
                Does not meet the credit policy. Status:Charged...     761
                In Grace Period                                       6253
                Late (16-30 days)                                     2357
                Late (31-120 days)                                   11591

                                                                    int_rate  \
bad_loan_status loan_status
False           Current                                               601779
                Does not meet the credit policy. Status:Fully Paid      1988
                Fully Paid                                            207723
                Issued                                                  8460
True            Charged Off                                            45248
                Default                                                 1219
                Does not meet the credit policy. Status:Charged...       761
                In Grace Period                                         6253
                Late (16-30 days)                                       2357
                Late (31-120 days)                                     11591

                                                                      term  \
bad_loan_status loan_status
False           Current                                             601779
                Does not meet the credit policy. Status:Fully Paid    1988
                Fully Paid                                          207723
                Issued                                                8460
True            Charged Off                                          45248
                Default                                               1219
                Does not meet the credit policy. Status:Charged...     761
                In Grace Period                                       6253
                Late (16-30 days)                                     2357
                Late (31-120 days)                                   11591

                                                                    purpose
bad_loan_status loan_status
False           Current                                              601779
                Does not meet the credit policy. Status:Fully Paid     1988
                Fully Paid                                           207723
                Issued                                                 8460
True            Charged Off                                           45248
                Default                                                1219
                Does not meet the credit policy. Status:Charged...      761
                In Grace Period                                        6253
                Late (16-30 days)                                      2357
                Late (31-120 days)                                    11591

In [60]:
df2.groupby(['bad_loan_status','loan_status'])["loan_amnt"].count()

bad_loan_status  loan_status
False            Current                                                601779
                 Does not meet the credit policy. Status:Fully Paid       1988
                 Fully Paid                                             207723
                 Issued                                                   8460
True             Charged Off                                             45248
                 Default                                                  1219
                 Does not meet the credit policy. Status:Charged Off       761
                 In Grace Period                                          6253
                 Late (16-30 days)                                        2357
                 Late (31-120 days)                                      11591
Name: loan_amnt, dtype: int64

In [61]:
#bad loan 인것과 아닌것으로 grouping, purpose 별로 다시 grouping
df2.groupby(['bad_loan_status','purpose']).count()

                                    loan_amnt  loan_status   grade  int_rate  \
bad_loan_status purpose
False           car                      8267         8267    8267      8267
                credit_card            194427       194427  194427    194427
                debt_consolidation     482607       482607  482607    482607
                educational               335          335     335       335
                home_improvement        48276        48276   48276     48276
                house                    3290         3290    3290      3290
                major_purchase          15983        15983   15983     15983
                medical                  7736         7736    7736      7736
                moving                   4807         4807    4807      4807
                other                   38731        38731   38731     38731
                renewable_energy          503          503     503       503
                small_business           8596         8596    8596      8596
                vacation                 4334         4334    4334      4334
                wedding                  2058         2058    2058      2058
True            car                       596          596     596       596
                credit_card             11755        11755   11755     11755
                debt_consolidation      41608        41608   41608     41608
                educational                88           88      88        88
                home_improvement         3553         3553    3553      3553
                house                     417          417     417       417
                major_purchase           1294         1294    1294      1294
                medical                   804          804     804       804
                moving                    607          607     607       607
                other                    4163         4163    4163      4163
                renewable_energy           72           72      72        72
                small_business           1781         1781    1781      1781
                vacation                  402          402     402       402
                wedding                   289          289     289       289

                                      term
bad_loan_status purpose
False           car                   8267
                credit_card         194427
                debt_consolidation  482607
                educational            335
                home_improvement     48276
                house                 3290
                major_purchase       15983
                medical               7736
                moving                4807
                other                38731
                renewable_energy       503
                small_business        8596
                vacation              4334
                wedding               2058
True            car                    596
                credit_card          11755
                debt_consolidation   41608
                educational             88
                home_improvement      3553
                house                  417
                major_purchase        1294
                medical                804
                moving                 607
                other                 4163
                renewable_energy        72
                small_business        1781
                vacation               402
                wedding                289

In [66]:
# 대출총액(loan_amnt)을 bad loan 인것과 아닌것으로 grouping, purpose 별로 다시 grouping
df2.groupby(['bad_loan_status','purpose'])['loan_amnt'].count().sort_values(ascending=False)

bad_loan_status  purpose
False            debt_consolidation    482607
                 credit_card           194427
                 home_improvement       48276
True             debt_consolidation     41608
False            other                  38731
                 major_purchase         15983
True             credit_card            11755
False            small_business          8596
                 car                     8267
                 medical                 7736
                 moving                  4807
                 vacation                4334
True             other                   4163
                 home_improvement        3553
False            house                   3290
                 wedding                 2058
True             small_business          1781
                 major_purchase          1294
                 medical                  804
                 moving                   607
                 car                      596
False            renewable_energy         503
True             house                    417
                 vacation                 402
False            educational              335
True             wedding                  289
                 educational               88
                 renewable_energy          72
Name: loan_amnt, dtype: int64