In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'], 
                   'key2' : ['one', 'two', 'one', 'two', 'one'], 
                   'data1': np.random.randn(5), 
                   'data2': np.random.randn(5)})

In [3]:
df

      data1     data2 key1 key2
0 -0.912105  1.596654    a  one
1  0.081429  0.828674    a  two
2  0.191187 -0.474726    b  one
3  0.994953  1.035298    b  two
4  1.494394 -0.323296    a  one

In [4]:
grouped = df["data1"].groupby(df["key1"])

In [5]:
grouped

In [6]:
grouped.mean()

key1
a    0.221239
b    0.593070
Name: data1, dtype: float64

In [7]:
df.groupby("key1").mean()

         data1     data2
key1
a     0.221239  0.700677
b     0.593070  0.280286

In [12]:
df.groupby("key1").count()

      data1  data2  key2
key1
a         3      3     3
b         2      2     2

In [13]:
df.groupby(["key1", "key2"]).mean()

              data1     data2
key1 key2
a    one   0.291144  0.636679
     two   0.081429  0.828674
b    one   0.191187 -0.474726
     two   0.994953  1.035298

In [14]:
df.groupby(["key1", "key2"]).count()

           data1  data2
key1 key2
a    one       2      2
     two       1      1
b    one       1      1
     two       1      1

In [19]:
for name, group in df.groupby("key1"):
    print(name)
    print(group)

a
      data1     data2 key1 key2
0 -0.912105  1.596654    a  one
1  0.081429  0.828674    a  two
4  1.494394 -0.323296    a  one
b
      data1     data2 key1 key2
2  0.191187 -0.474726    b  one
3  0.994953  1.035298    b  two

In [20]:
for (k1, k2), group in df.groupby(["key1", "key2"]):
    print(k1, k2)
    print(group)

a one
      data1     data2 key1 key2
0 -0.912105  1.596654    a  one
4  1.494394 -0.323296    a  one
a two
      data1     data2 key1 key2
1  0.081429  0.828674    a  two
b one
      data1     data2 key1 key2
2  0.191187 -0.474726    b  one
b two
      data1     data2 key1 key2
3  0.994953  1.035298    b  two

In [23]:
df2 = pd.DataFrame(np.random.randn(5, 5), 
                   columns=['a', 'b', 'c', 'd', 'e'],
                   index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
map_dict = {'a': 'red', 'b': 'red', 'c': 'blue', 
            'd': 'blue', 'e': 'red', 'f' : 'orange'}

In [24]:
df2.groupby(map_dict, axis=1).sum()

            blue       red
Joe    -0.985825 -0.862905
Steve   0.955064  0.898309
Wes    -0.686721  0.572196
Jim     0.533874 -1.294048
Travis -0.536213 -1.791445

In [25]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [26]:
grouped = df.groupby("key1")

In [27]:
grouped.agg(peak_to_peak)

         data1     data2
key1
a     2.406499  1.919949
b     0.803766  1.510024

In [28]:
grouped.describe()

     data1                                                              \
     count      mean       std       min       25%       50%       75%
key1
a      3.0  0.221239  1.209326 -0.912105 -0.415338  0.081429  0.787912
b      2.0  0.593070  0.568348  0.191187  0.392129  0.593070  0.794012

               data2                                                    \
           max count      mean       std       min       25%       50%
key1
a     1.494394   3.0  0.700677  0.966353 -0.323296  0.252689  0.828674
b     0.994953   2.0  0.280286  1.067749 -0.474726 -0.097220  0.280286


           75%       max
key1
a     1.212664  1.596654
b     0.657792  1.035298