### 행정구역정보(csv)를 읽고, 분석하기
* read_csv() 함수로 csv 읽어오기
* head(), tail(), info()
* 특정행과 특정열을 선택하기 loc[], iloc[] 사용
* 컬럼명 변경
* 상관관계 분석
* 시각화

In [185]:
!pip show pandas

Name: pandas
Version: 1.2.4
Summary: Powerful data structures for data analysis, time series, and statistics
Home-page: https://pandas.pydata.org
Author: None
Author-email: None
License: BSD
Location: c:\users\vega2\anaconda3\lib\site-packages
Requires: pytz, python-dateutil, numpy
Required-by: statsmodels, seaborn

In [186]:
import pandas as pd

data = pd.read_csv('data/data_draw_korea.csv')
print(type(data))
print(data.shape)
data.head(3)

<class 'pandas.core.frame.DataFrame'>
(229, 8)

   Unnamed: 0     인구수 shortName   x  y       면적 광역시도 행정구역
0           0  202520        강릉  11  4  1040.07  강원도  강릉시
1           1   25589    고성(강원)   9  0   664.19  강원도  고성군
2           2   86747        동해  11  5   180.01  강원도  동해시

In [254]:
#마지막 5개 행 데이터 출력
data.tail()

     Unnamed: 0     인구수 shortName  x   y      면적  광역시도 행정구역
224         224  127462        제천  8  10  882.47  충청북도  제천시
225         225   34480        증평  6  11   81.84  충청북도  증평군
226         226   62809        진천  5  11  406.08  충청북도  진천군
227         227  790216        청주  6  12  932.51  충청북도  청주시
228         228  198077        충주  6  10  983.70  충청북도  충주시

In [257]:
data.sample(5)

     Unnamed: 0     인구수 shortName  x   y      면적   광역시도 행정구역
129         129  342909      서울광진  7   6   17.05  서울특별시  광진구
54           54   97525        밀양  8  16  799.03   경상남도  밀양시
41           41  149080        의왕  6   8   54.00    경기도  의왕시
144         144  208603      서울용산  6   5   21.87  서울특별시  용산구
92           92   97571      광주동구  3  20   48.86  광주광역시   동구

In [258]:
#컬럼명 변경
data = data.rename(columns={'Unnamed: 0':'seq'})
data.head(2)

   seq     인구수 shortName   x  y       면적 광역시도 행정구역
0    0  202520        강릉  11  4  1040.07  강원도  강릉시
1    1   25589    고성(강원)   9  0   664.19  강원도  고성군

In [259]:
#seq 컬럼을 index로 변경
data = data.set_index('seq')
data.head(2)

        인구수 shortName   x  y       면적 광역시도 행정구역
seq
0    202520        강릉  11  4  1040.07  강원도  강릉시
1     25589    고성(강원)   9  0   664.19  강원도  고성군

In [188]:
#컬럼명
print(data.columns)
#인덱스
print(data.index)
#값
print(type(data.values))
print(data.values)

Index(['Unnamed: 0', '인구수', 'shortName', 'x', 'y', '면적', '광역시도', '행정구역'], dtype='object')
RangeIndex(start=0, stop=229, step=1)
<class 'numpy.ndarray'>
[[0 202520 '강릉' ... 1040.07 '강원도' '강릉시']
 [1 25589 '고성(강원)' ... 664.19 '강원도' '고성군']
 [2 86747 '동해' ... 180.01 '강원도' '동해시']
 ...
 [226 62809 '진천' ... 406.08 '충청북도' '진천군']
 [227 790216 '청주' ... 932.51 '충청북도' '청주시']
 [228 198077 '충주' ... 983.7 '충청북도' '충주시']]

In [189]:
#DataFrame 정보 확인
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  229 non-null    int64
 1   인구수         229 non-null    int64
 2   shortName   229 non-null    object
 3   x           229 non-null    int64
 4   y           229 non-null    int64
 5   면적          229 non-null    float64
 6   광역시도        229 non-null    object
 7   행정구역        229 non-null    object
dtypes: float64(1), int64(4), object(3)
memory usage: 14.4+ KB

In [190]:
#수치형 컬럼의 집계함수 출력
data.describe()

       Unnamed: 0           인구수           x           y           면적
count  229.000000  2.290000e+02  229.000000  229.000000   229.000000
mean   114.000000  2.110898e+05    6.117904   11.262009   435.419795
std     66.250786  2.074378e+05    3.320469    6.040898   381.612549
min      0.000000  8.392000e+03    0.000000    0.000000     2.800000
25%     57.000000  4.955900e+04    3.000000    6.000000    54.000000
50%    114.000000  1.401590e+05    6.000000   11.000000   436.400000
75%    171.000000  3.216180e+05    9.000000   16.000000   692.800000
max    228.000000  1.125461e+06   13.000000   25.000000  1817.940000

In [191]:
#인구수 컬럼의 집계함수
print(type(data['인구수']))
#인구수 컬럼의 값을 가져오기
data['인구수']

<class 'pandas.core.series.Series'>

0      202520
1       25589
2       86747
3       63986
4       76733
        ...
224    127462
225     34480
226     62809
227    790216
228    198077
Name: 인구수, Length: 229, dtype: int64

In [192]:
data['인구수'].head()

0    202520
1     25589
2     86747
3     63986
4     76733
Name: 인구수, dtype: int64

In [193]:
print('인구수 최대값 {} '.format(data['인구수'].max()))
pop_max = data['인구수'].max()
pop_max

인구수 최대값 1125461

1125461

In [194]:
#인구수가 가장 많은 행정구역은 어디?
data['인구수'] == pop_max

0      False
1      False
2      False
3      False
4      False
       ...
224    False
225    False
226    False
227    False
228    False
Name: 인구수, Length: 229, dtype: bool

In [195]:
#조건을 만족하는 1개의 행과, 모든 열이 출력됨
data.loc[data['인구수'] == pop_max, :]

    Unnamed: 0      인구수 shortName  x  y      면적 광역시도 행정구역
30          30  1125461        수원  6  9  121.09  경기도  수원시

In [196]:
#조건을 만족하는 1개의 행과, 인구수 컬럼부터 행정구역 까지 컬럼 출력
data.loc[data['인구수'] == pop_max, '인구수':'행정구역']

        인구수 shortName  x  y      면적 광역시도 행정구역
30  1125461        수원  6  9  121.09  경기도  수원시

In [197]:
#조건을 만족하는 1개의 행과, 광역시도,행정구역,인구수 3개의 컬럼 출력
data.loc[data['인구수'] == pop_max,['광역시도','행정구역','인구수']]

   광역시도 행정구역      인구수
30  경기도  수원시  1125461

In [198]:
#인구수가 평균보다 작은 광역시도와 행정구역 인구수를 출력하세요
pop_mean = data['인구수'].mean()
print(pop_mean)

pop_mean_df = data.loc[data['인구수'] < pop_mean , ['광역시도','행정구역','인구수']]
print(type(pop_mean_df))
pop_mean_df.head()

211089.77729257641
<class 'pandas.core.frame.DataFrame'>

  광역시도 행정구역     인구수
0  강원도  강릉시  202520
1  강원도  고성군   25589
2  강원도  동해시   86747
3  강원도  삼척시   63986
4  강원도  속초시   76733

In [199]:
#인구수가 평균보다 작은 광역시도와 행정구역 인구수 정보를 엑셀파일로 저장하기
pop_mean_df.to_excel('data/평균인구수미만지역.xlsx', sheet_name="인구수")

In [200]:
#unique한 광역시도명
data['광역시도'].unique()

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [201]:
#광역시도별 행정구역 건수를 count
data['광역시도'].value_counts()

경기도        31
서울특별시      25
경상북도       23
전라남도       22
강원도        18
경상남도       18
부산광역시      16
충청남도       15
전라북도       14
충청북도       11
인천광역시      10
대구광역시       8
광주광역시       5
울산광역시       5
대전광역시       5
제주특별자치도     2
세종특별자치시     1
Name: 광역시도, dtype: int64

In [202]:
#서울특별시의 인구수의 표준편차
data.loc[data['광역시도'] == '서울특별시'].head()

     Unnamed: 0     인구수 shortName  x  y    면적   광역시도 행정구역
124         124  526157      서울강남  6  7  39.5  서울특별시  강남구
125         125  432028      서울강동  8  5  24.6  서울특별시  강동구
126         126  310292      서울강북  5  2  23.6  서울특별시  강북구
127         127  554709      서울강서  4  4  41.4  서울특별시  강서구
128         128  484478      서울관악  5  6  29.6  서울특별시  관악구

In [203]:
data.loc[data['광역시도'] == '서울특별시','인구수'].std()

125231.24797500289

In [204]:
def get_pop_std1(sido_name):
    return data.loc[data['광역시도'] == sido_name,'인구수'].std()

In [205]:
get_pop_std1('경기도')

304548.39514203876

In [206]:
def get_pop_std(data_df, sido_name):
    return data_df.loc[data_df['광역시도'] == sido_name,'인구수'].std()

In [207]:
get_pop_std(data,'경기도')

304548.39514203876

### Data Selection
* loc, iloc 사용함
* 행과 열을 선택하는 방법
 1. 조건식 (boolean indexing) 사용
 2. 슬라이싱 사용
 3. []을 사용해서 여러행과 열을 선택

In [208]:
#1개의 행
data.loc[0]

Unnamed: 0          0
인구수            202520
shortName          강릉
x                  11
y                   4
면적            1040.07
광역시도              강원도
행정구역              강릉시
Name: 0, dtype: object

In [209]:
#1개의 행
data.loc[0,:]

Unnamed: 0          0
인구수            202520
shortName          강릉
x                  11
y                   4
면적            1040.07
광역시도              강원도
행정구역              강릉시
Name: 0, dtype: object

In [210]:
#6개의 행 - loc
data.loc[0:5,'인구수':'면적']

      인구수 shortName   x  y       면적
0  202520        강릉  11  4  1040.07
1   25589    고성(강원)   9  0   664.19
2   86747        동해  11  5   180.01
3   63986        삼척  11  8  1185.80
4   76733        속초   9  1   105.25
5   20809        양구   8  0   700.80

In [211]:
data.loc[0:10:2,'인구수':'면적']

       인구수 shortName   x  y       면적
0   202520        강릉  11  4  1040.07
2    86747        동해  11  5   180.01
4    76733        속초   9  1   105.25
6    24551        양양  10  2   628.68
8   313851        원주  10  7   867.30
10   34242        정선  11  6  1220.67

In [212]:
#6개의 행 - iloc
data.iloc[0:6,0:6]

   Unnamed: 0     인구수 shortName   x  y       면적
0           0  202520        강릉  11  4  1040.07
1           1   25589    고성(강원)   9  0   664.19
2           2   86747        동해  11  5   180.01
3           3   63986        삼척  11  8  1185.80
4           4   76733        속초   9  1   105.25
5           5   20809        양구   8  0   700.80

In [213]:
#3,5,9 특정행과 특정열 여러개 선택
data.loc[[3,5,9],['x','y']]

    x  y
3  11  8
5   8  0
9   9  2

In [214]:
#조건식 사용
#충청북도의 행정구역, 인구수, 면적 출력하기
#인구수가 많은 순서대로 정렬하고, index도 reset 하기
data.loc[data['광역시도'] == '충청북도', ['행정구역','인구수','면적']].sort_values(by='인구수',ascending=False)\
.reset_index(drop=True)

   행정구역     인구수      면적
0   청주시  790216  932.51
1   충주시  198077  983.70
2   제천시  127462  882.47
3   음성군   86441  521.05
4   진천군   62809  406.08
5   옥천군   47599  537.13
6   영동군   46524  845.01
7   증평군   34480   81.84
8   괴산군   33297  842.00
9   보은군   30685  584.45
10  단양군   27130  781.07

In [215]:
#광역시도별 인구수가 가장 많은 행정구역은 ?
data.loc[data['광역시도'] == '경상북도',['행정구역','인구수']].sort_values(by='인구수', ascending=False)

   행정구역     인구수
89  포항시  488395
70  구미시  396685
67  경산시  251220
68  경주시  242618
77  안동시  157317
72  김천시  127941
88  칠곡군  112446
80  영주시  101612
75  상주시   93305
81  영천시   91214
73  문경시   67919
85  의성군   48776
84  울진군   46748
82  예천군   40779
86  청도군   38571
76  성주군   38277
78  영덕군   34864
69  고령군   31189
74  봉화군   30287
87  청송군   23804
71  군위군   20596
79  영양군   16009
83  울릉군    8392

In [216]:
pop_max_value = data.loc[data['광역시도'] == '경상북도','인구수'].max()
data.loc[data['인구수'] == pop_max_value,['광역시도','행정구역','인구수'] ]

    광역시도 행정구역     인구수
89  경상북도  포항시  488395

In [217]:
def get_pop_max_value(data_df, sido_name):
    pop_max_value = data_df.loc[data_df['광역시도'] == sido_name,'인구수'].max()
    condition = (data_df['광역시도'] == sido_name) & (data_df['인구수'] == pop_max_value)
    return data_df.loc[condition,['광역시도','행정구역','인구수'] ]

In [218]:
get_pop_max_value(data, '서울특별시')

      광역시도 행정구역     인구수
141  서울특별시  송파구  615487

In [219]:
print(type(data['광역시도'].unique()))
sido_names = data['광역시도'].unique()
sido_names

<class 'numpy.ndarray'>

array(['강원도', '경기도', '경상남도', '경상북도', '광주광역시', '대구광역시', '대전광역시', '부산광역시',
       '서울특별시', '세종특별자치시', '울산광역시', '인천광역시', '전라남도', '전라북도', '제주특별자치도',
       '충청남도', '충청북도'], dtype=object)

In [220]:
for name in sido_names:
    print(get_pop_max_value(data,name))

  광역시도 행정구역     인구수
8  강원도  원주시  313851
   광역시도 행정구역      인구수
30  경기도  수원시  1125461
    광역시도 행정구역      인구수
61  경상남도  창원시  1010040
    광역시도 행정구역     인구수
89  경상북도  포항시  488395
     광역시도 행정구역     인구수
93  광주광역시   북구  439683
     광역시도 행정구역     인구수
96  대구광역시  달서구  584517
      광역시도 행정구역     인구수
105  대전광역시   서구  475094
      광역시도  행정구역     인구수
123  부산광역시  해운대구  397134
      광역시도 행정구역     인구수
141  서울특별시  송파구  615487
        광역시도 행정구역     인구수
149  세종특별자치시  세종시  191233
      광역시도 행정구역     인구수
150  울산광역시   남구  327270
      광역시도 행정구역     인구수
160  인천광역시  부평구  527153
     광역시도 행정구역     인구수
177  전라남도  여수시  263166
     광역시도 행정구역     인구수
198  전라북도  전주시  630708
        광역시도 행정구역     인구수
202  제주특별자치도  제주시  430504
     광역시도 행정구역     인구수
214  충청남도  천안시  584912
     광역시도 행정구역     인구수
227  충청북도  청주시  790216

In [221]:
#새로운 DataFrame 객체 생성하기
pop_max_df = pd.DataFrame(columns=['광역시도','행정구역','인구수'])
for name in sido_names:
    pop_max_df = pop_max_df.append(get_pop_max_value(data, name))

pop_max_df = pop_max_df.reset_index(drop=True)   
pop_max_df

       광역시도  행정구역      인구수
0       강원도   원주시   313851
1       경기도   수원시  1125461
2      경상남도   창원시  1010040
3      경상북도   포항시   488395
4     광주광역시    북구   439683
5     대구광역시   달서구   584517
6     대전광역시    서구   475094
7     부산광역시  해운대구   397134
8     서울특별시   송파구   615487
9   세종특별자치시   세종시   191233
10    울산광역시    남구   327270
11    인천광역시   부평구   527153
12     전라남도   여수시   263166
13     전라북도   전주시   630708
14  제주특별자치도   제주시   430504
15     충청남도   천안시   584912
16     충청북도   청주시   790216

In [222]:
#인덱스값 확인
pop_max_df.index

RangeIndex(start=0, stop=17, step=1)

In [223]:
import numpy as np

#인덱스값 변경
pop_max_df.index = np.arange(1,len(pop_max_df)+1)

In [224]:
pop_max_df.head()

    광역시도 행정구역      인구수
1    강원도  원주시   313851
2    경기도  수원시  1125461
3   경상남도  창원시  1010040
4   경상북도  포항시   488395
5  광주광역시   북구   439683

### 상관계수
* 인구수와 면적간에 관련성이 있는지 보기 위해서 상관계수 구하기
* corr() (corelation) 함수 사용
* 상관계수는 -1 ~ 1 사이의 값을 가지며, 0에 가까울 수록 관련성이 낮으며, 1에 가까울 수록 관련성이 높다

In [225]:
#전체행정구역의 인구수와 면적간의 상관계수 구하기
data['인구수'].corr(data['면적'])

-0.3460351605045768

In [226]:
seoul_df = data.loc[data['광역시도'] == '서울특별시']
seoul_df['인구수'].corr(seoul_df['면적'])

0.6644268188909777

### Group By 기능 
* ~별 (광역시도별)에 해당하는 컬럼명이나 컬럼명을 groupby() 함수의 아규먼트로 전달한다
* Series 객체의 groupby() 함수는 컬럼값을 아규먼트로 전달한다. 
* DataFrame 객체의 groupby() 함수는 컬럼명을 아규먼트로 전달한다.

In [227]:
#Series 객체 사용 - 광역시도별 인구수의 합계
#SeriesGroupBy object
data['인구수'].groupby(data['광역시도']).sum().sort_values(ascending=False)

광역시도
경기도        11744210
서울특별시       9394807
부산광역시       3323591
경상남도        3144487
인천광역시       2766575
경상북도        2508964
대구광역시       2378450
충청남도        1946129
전라북도        1739048
전라남도        1700563
충청북도        1484720
대전광역시       1467677
광주광역시       1438209
강원도         1429438
울산광역시       1105585
제주특별자치도      575873
세종특별자치시      191233
Name: 인구수, dtype: int64

In [228]:
#DataFrame 객체 사용 - 광역시도별 인구수의 합계
#DataFrameGroupBy object
data.groupby('광역시도').sum()

         Unnamed: 0       인구수    x    y         면적
광역시도
강원도             153   1429438  173   68  16874.810
경기도            1023  11744210  182  162  10179.743
경상남도           1035   3144487  123  313  10437.460
경상북도           1794   2508964  229  240  19021.850
광주광역시           460   1438209   12   99    501.280
대구광역시           788   2378450   74  111    885.690
대전광역시           525   1467677   23   66    539.640
부산광역시          1848   3323591  162  276    763.240
서울특별시          3400   9394807  142  111    605.390
세종특별자치시         149    191233    4   11    465.230
울산광역시           760   1105585   58   71    980.220
인천광역시          1595   2766575   13   61   1022.910
전라남도           3861   1700563   44  438  12008.390
전라북도           2709   1739048   46  219   7907.220
제주특별자치도         403    575873    8   49   1848.480
충청남도           3150   1946129   39  160   8272.270
충청북도           2453   1484720   69  124   7397.310

In [229]:
data.groupby('광역시도')['인구수'].sum().sort_values(ascending=False)

광역시도
경기도        11744210
서울특별시       9394807
부산광역시       3323591
경상남도        3144487
인천광역시       2766575
경상북도        2508964
대구광역시       2378450
충청남도        1946129
전라북도        1739048
전라남도        1700563
충청북도        1484720
대전광역시       1467677
광주광역시       1438209
강원도         1429438
울산광역시       1105585
제주특별자치도      575873
세종특별자치시      191233
Name: 인구수, dtype: int64

In [230]:
#광역시도별 면적의 합계
data.groupby('광역시도')['면적'].sum().sort_values(ascending=False)

광역시도
경상북도       19021.850
강원도        16874.810
전라남도       12008.390
경상남도       10437.460
경기도        10179.743
충청남도        8272.270
전라북도        7907.220
충청북도        7397.310
제주특별자치도     1848.480
인천광역시       1022.910
울산광역시        980.220
대구광역시        885.690
부산광역시        763.240
서울특별시        605.390
대전광역시        539.640
광주광역시        501.280
세종특별자치시      465.230
Name: 면적, dtype: float64

In [231]:
#광역시도별, 인구수의 합계
groupby_df = data.groupby(['광역시도','행정구역'])['인구수'].sum()
#groupby_df.to_excel('data/광역시도별인구수의합계.xlsx',sheet_name='인구수합계')

In [241]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('data/광역시도별인구수의합계1.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
groupby_df.to_excel(writer, sheet_name='인구수합계')

# Get the xlsxwriter workbook and worksheet objects.
workbook  = writer.book
worksheet = writer.sheets['인구수합계']

# Set a currency number format for a column.
num_format = workbook.add_format({'num_format': '#,###'})
worksheet.set_column('C:C', None, num_format)

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [242]:
# agg()함수를 사용해서 통계함수를 여러 사용하기
#광역시도별 인구수의 max, mean, std 구하기
group_agg_df = data.groupby('광역시도')['인구수'].agg(['max','mean','std']).fillna(0).sort_values(by='std',ascending=False)
group_agg_df

             max           mean            std
광역시도
경기도      1125461  378845.483871  304548.395142
경상남도     1010040  174693.722222  245796.465077
충청북도      790216  134974.545455  223460.356657
제주특별자치도   430504  287936.500000  201620.892054
인천광역시     527153  276657.500000  199353.596491
대구광역시     584517  297306.250000  174375.394380
전라북도      630708  124217.714286  168327.134821
충청남도      584912  129741.933333  141125.108080
광주광역시     439683  287641.800000  137076.683206
서울특별시     615487  375792.280000  125231.247975
경상북도      488395  109085.391304  124954.740885
대전광역시     475094  293535.400000  111853.571882
부산광역시     397134  207724.437500  106246.041384
강원도       313851   79413.222222   87316.383238
전라남도      263166   77298.318182   74413.253230
울산광역시     327270  221117.000000   64163.286582
세종특별자치시   191233  191233.000000       0.000000

In [243]:
data.loc[data['광역시도'] == '세종특별자치시']

     Unnamed: 0     인구수 shortName  x   y      면적     광역시도 행정구역
149         149  191233        세종  4  11  465.23  세종특별자치시  세종시

In [248]:
#inplace 속성의 default는 False
#False이면 원본을 변경하지 않고, 출력만 변경해서 보여줌
group_agg_df.reset_index(inplace=False)

       광역시도      max           mean            std
0       경기도  1125461  378845.483871  304548.395142
1      경상남도  1010040  174693.722222  245796.465077
2      충청북도   790216  134974.545455  223460.356657
3   제주특별자치도   430504  287936.500000  201620.892054
4     인천광역시   527153  276657.500000  199353.596491
5     대구광역시   584517  297306.250000  174375.394380
6      전라북도   630708  124217.714286  168327.134821
7      충청남도   584912  129741.933333  141125.108080
8     광주광역시   439683  287641.800000  137076.683206
9     서울특별시   615487  375792.280000  125231.247975
10     경상북도   488395  109085.391304  124954.740885
11    대전광역시   475094  293535.400000  111853.571882
12    부산광역시   397134  207724.437500  106246.041384
13      강원도   313851   79413.222222   87316.383238
14     전라남도   263166   77298.318182   74413.253230
15    울산광역시   327270  221117.000000   64163.286582
16  세종특별자치시   191233  191233.000000       0.000000

In [250]:
#inplace == True이면 원본데이터를 변경하고, 출력은 하지 않는다.
group_agg_df.reset_index(inplace=True)

In [252]:
#행과열은 바꾸려면 T 속성이나 transpose() 함수 사용
group_agg_df.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
광역시도,경기도,경상남도,충청북도,제주특별자치도,인천광역시,대구광역시,전라북도,충청남도,광주광역시,서울특별시,경상북도,대전광역시,부산광역시,강원도,전라남도,울산광역시,세종특별자치시
max,1125461,1010040,790216,430504,527153,584517,630708,584912,439683,615487,488395,475094,397134,313851,263166,327270,191233
mean,378845.483871,174693.722222,134974.545455,287936.5,276657.5,297306.25,124217.714286,129741.933333,287641.8,375792.28,109085.391304,293535.4,207724.4375,79413.222222,77298.318182,221117.0,191233.0
std,304548.395142,245796.465077,223460.356657,201620.892054,199353.596491,174375.39438,168327.134821,141125.10808,137076.683206,125231.247975,124954.740885,111853.571882,106246.041384,87316.383238,74413.25323,64163.286582,0.0

In [253]:
group_agg_df.transpose()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
광역시도,경기도,경상남도,충청북도,제주특별자치도,인천광역시,대구광역시,전라북도,충청남도,광주광역시,서울특별시,경상북도,대전광역시,부산광역시,강원도,전라남도,울산광역시,세종특별자치시
max,1125461,1010040,790216,430504,527153,584517,630708,584912,439683,615487,488395,475094,397134,313851,263166,327270,191233
mean,378845.483871,174693.722222,134974.545455,287936.5,276657.5,297306.25,124217.714286,129741.933333,287641.8,375792.28,109085.391304,293535.4,207724.4375,79413.222222,77298.318182,221117.0,191233.0
std,304548.395142,245796.465077,223460.356657,201620.892054,199353.596491,174375.39438,168327.134821,141125.10808,137076.683206,125231.247975,124954.740885,111853.571882,106246.041384,87316.383238,74413.25323,64163.286582,0.0

### 시각화
* %matplotlib inline 설정이 필요함
 : plot이 출력되려면 show() 함수를 반드시 호출해야 하지만, jupyter 에서는 show() 호출하지 않아도 plot이 출력되게 해주는 설정
* 한글폰트 설정
* matplotlib는 plot 에 대한 설정을 할 때 사용하고, seaborn은 plot을 그려주는 기능으로 사용

In [260]:
%matplotlib inline

In [263]:
import matplotlib
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
import seaborn as sns

In [265]:
print('matplotlib ', matplotlib.__version__)
print('seaborn ', sns.__version__)

matplotlib  3.3.4
seaborn  0.11.1

In [268]:
#폰트이름, 폰트파일명을 출력
[(f.name, f.fname) for f in fm.fontManager.ttflist if 'Ma' in f.name]

[('Matura MT Script Capitals', 'C:\\Windows\\Fonts\\MATURASC.TTF'),
 ('Malgun Gothic', 'C:\\Windows\\Fonts\\malgun.ttf'),
 ('Maiandra GD', 'C:\\windows\\Fonts\\MAIAN.TTF'),
 ('Malgun Gothic', 'C:\\Windows\\Fonts\\malgunbd.ttf'),
 ('Malgun Gothic', 'C:\\windows\\Fonts\\malgun.ttf'),
 ('Malgun Gothic', 'C:\\Windows\\Fonts\\malgunsl.ttf'),
 ('Malgun Gothic', 'C:\\windows\\Fonts\\malgunsl.ttf'),
 ('Marlett', 'C:\\windows\\Fonts\\marlett.ttf'),
 ('Maiandra GD', 'C:\\Windows\\Fonts\\MAIAN.TTF'),
 ('Magic R', 'C:\\windows\\Fonts\\HMKMMAG.TTF'),
 ('Matura MT Script Capitals', 'C:\\windows\\Fonts\\MATURASC.TTF'),
 ('Magic R', 'C:\\Windows\\Fonts\\HMKMMAG.TTF'),
 ('Magneto', 'C:\\Windows\\Fonts\\MAGNETOB.TTF'),
 ('Malgun Gothic', 'C:\\windows\\Fonts\\malgunbd.ttf'),
 ('Magneto', 'C:\\windows\\Fonts\\MAGNETOB.TTF')]

In [270]:
#한글폰트 설정
font_path = 'C:\\windows\\Fonts\\malgun.ttf'
#폰트 파일명으로 폰트명을 가져오기
font_prop = fm.FontProperties(fname=font_path).get_name()

#matplotlib의 rc() : run command 함수를 사용해서 설정한다. 
matplotlib.rc('font', family=font_prop)

In [238]:
# figure, ax1 = plt.subplots(nrows=1, ncols=1)
# figure.set_size_inches(18,12)

# sns.barplot(data=seoul_df, x="행정구역", y="인구수", ax=ax1)

# ax1.get_yaxis().set_major_formatter(plt.FuncFormatter(lambda x, loc: "{:,}".format(int(x))))
# ax1.set(ylabel='인구수')
# for item in ax1.get_xticklabels(): 
#     item.set_rotation(90)
    
# for i, v in enumerate(seoul_df["인구수"].iteritems()):        
#     ax1.text(i ,v[1], "{:,}".format(v[1]), color='m', va ='bottom', rotation=45)
# plt.tight_layout()